<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codegears.programming">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.SubMenu1Activity" />
        <activity android:name=".activity.SubMenu2Activity" />
        <activity android:name=".activity.SunMenu3Activty" />
        <activity android:name=".activity.SubMenu4Activty" />
        <activity android:name=".activity.SubMenu5Activty"></activity>
    </application>

</manifest>
